body {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #be3144;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;
}
#nav-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 20px;
}    
a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    padding: 1rem 2rem;
}
a:hover {
    background-color: #45567d;
}
#welcome-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: black;
    background-image: linear-gradient(
        62deg,
        #3a3d40 0%,
        #181719 100%
    );
}
h1 {
    color: white;
    font-size: 4rem;
    font-weight: 700;
}
#welcome-section > p {
    color: #be3144;
    font-size: 2rem;
    font-style: italic;
    font-weight: 100;
}
.projects-title {
    margin: 0;
    padding: 10rem 2rem;
    text-align: center;
    background-color: #45567d;
}
  h2 {
    font-size: 3.3rem;
    color: white;
}
@media (max-width: 800px){
    h2{
        font-size: 2.5rem;
    }
}
.project-img {
     height: calc(100% - 6.8rem);
     width: 100%;
     object-fit: cover;
}
.project-tile {
    color: white;
    width: 100%;
    background-color: #303841;
    margin: 0;
    padding: 1.5rem 0;
    align-items: center;
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6 rem;
}
#contact {
    background-color: #303841;
    width: 100%;
    height: 80vh;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#contact-p {
    color: white;
    font-style: italic;
    font-weight: 100;
    text-align: center;
    font-size: 1.7rem;
}
i {
    border-color: aliceblue;
    border: 10;
    color: #be3144;
}